.page-container {
  width: 100%;
  overflow: auto;
}
.header {
  width: 100%;
  max-height: 65px;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
}
.sub-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 20px;
}
.table-container {
  text-align: center;
  border-radius: 10px;
  margin: 20px auto;
  padding: 20px;
  width: 95%;
  min-height: 85vh;
  box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1), 4px 0 8px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.1);
}
.error-text {
  color: red;
}
.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  width: 100% !important;
}
.main-content {
  height: 72vh;
}
.footer {
  height: 10vh;
  display: flex;
  width: 100% !important;
  justify-content: end;
  align-items: center;
}
.button-row {
  display: flex;
  flex-direction: row;
}
.button-column {
  display: flex;
  width: 100% !important;
  margin-right: 30px;
}
.action_icon {
  border: 1px solid #ababab;
  width: 30px;
  height: 30px;
  display: flex;
  margin-right: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #ffffff;
  color: #000000;
}
.action_icon-delete {
  border: 1px solid #ababab;
  width: 30px;
  height: 30px;
  display: flex;
  margin-right: 2px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: #ffff;
}
.action_icon:hover {
  cursor: pointer;
}
.action_icon-delete:hover {
  cursor: pointer;
}

.action_icon_con {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-button- {
  margin-left: 15px;
  margin-top: 2px;
  border-radius: 20px !important;
  padding: 0;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: #28a745;
}

.toggle-button-active {
  margin-left: 15px;
  margin-top: 2px;
  border-radius: 20px !important;
  padding: 0;
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 20px;
  background-color: grey;
}

.toggle-switch {
  position: absolute;
  width: 24px;
  height: 22px;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  left: -2px;
  top: -2px;
  transform: translateX(20px);
  transition: transform 0.3s ease;
}

.toggle-button-active .toggle-switch {
  transform: translateX(0px);
}

.toggle-button.success .toggle-switch {
  background-color: #28a745;
}

.toggle-button.secondary .toggle-switch {
  background-color: #6c757d;
}
